
.navbar {
	text-transform: uppercase;
	font-weight: bold;
	padding: 0rem 1rem;
}

.navbar-expand-md .navbar-nav .nav-link {
	padding: .75rem 1rem;
	color: white;
}

.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link.active	{
	background-color: black;
	color: white;
}

.jumbotron {
	background-color: inherit;
}

.row-clickable {
	cursor: pointer;
}

.container-cluster-num {
	margin: 0, 10px;
	position: relative;
	height: 2rem;
	font-weight: bold;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: ">";
}

h2, h3, h4 {
	margin-top: 3rem;
}

.data-available button {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}
.data-available button .disabled {
	cursor: default !important;
}

body {
	padding-top: 70px;
	padding-bottom: 70px;
}

footer {
	margin-top: 70px;
}

footer {
	text-transform: uppercase;
	font-size: 0.8em;
}

	footer hr {
		border-color: rgba(0, 0, 0, 0.4);
	}

	footer a {
		color: inherit;
	}

.modal-body {
    max-height: 60vh;
    overflow-y: auto;
}

.modal-colwrap-3 {
    column-count: 3;
}

#clusterSize {
    margin-top: 10px;
}
.cluster-size {
    text-transform: uppercase;
}
.cluster-size-sm {
    font-size: 0.9em;
}

.display-img-width {
    max-width: 100%;
}

#clusterImg {
    max-height: 650px;
}

h3.explore-heading {
    margin-bottom: 10px;
    font-style: italic;
}

#displayFeatures h5 {
    margin-top: 10px;
}

.download-btn {
    cursor: pointer;
}

ul.expandable {
    list-style: none;
}
ul.expandable li {
    cursor: pointer;
}
ul.expandable li:before {
    content: "+";
    margin-right: 4px;
}

.sp-list-item {
    margin-left: 30px;
}

.progress-loader {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4em;
}

.progress-loader-sm {
    font-size: 2em;
}

.modal-sunburst {
    height: 700px;
    max-height: 700px;
}

.nav-intro-tabs {
    border-bottom: 1px solid #999;
}
.nav-intro-tabs li {
    text-transform: uppercase;
    font-size: 0.87em;
    font-weight: bold;
}
.nav-intro-tabs li a {
/*    padding: 0.5rem 0.5rem;*/
}
.nav-intro-tabs .nav-link:focus, .nav-intro-tabs .nav-link:hover {
    border-color: #999;
}
.nav-intro-tabs .nav-link.active {
    border-color: #999;
}

.tab-pane h5, .tab-pane h4, .tab-pane h3 {
    margin-top: 15px;
}

.tab-pane h6 {
    font-weight: 600;
}

.intro-img {
    display: inline-block;
    vertical-align: top;
}

.dicing-info {
    font-weight: bold;
}

.as-warning {
    color: red;
}
div.as-warning {
    font-size: 2em;
    font-weight: bold;
}

td.file-header-row {
    font-weight: bold;
    height: 40px;
    font-size: 1.15em;
    border: 0;
    background-color: white;
}

.child-tab-pane {
    padding: 20px 5px;
}

.diced-cluster-size {
    font-size: 0.90em;
    text-transform: uppercase;
}

.btn a {
    color: white;
}
.btn a:hover {
    text-decoration: none;
}


.link-dl {
    color: #007bff !important;
    text-decoration: none;
    font-size: 0.90em;
}

